upstream uwsgi_app {
    server unix:/code/binbi/uwsgi_app.sock;
}

server{
    listen 80;
    server_name www.bii.com bii.com
    error_log   stderr warn;
    access_log  /dev/stdout main;
    client_max_body_size 100M;

    location /{
        include        /etc/nginx/uwsgi_params;
        uwsgi_pass     uwsgi_app;

    }
    location /static/{
        alias /code/binbi/static/;

    }

    location /media/{
        alias /code/binbi/media/;

    }


}
