/media/
/static/
*.sqlite3
*.log
*.pyc

binbi/Binbi.Parser/.env
binbi/Binbi.Parser/.idea
binbi/Binbi.Parser/Binbi.Parser.API/bin
binbi/Binbi.Parser/Binbi.Parser.API/obj
binbi/Binbi.Parser/.env
binbi/Binbi.Parser/.vs
binbi/Binbi.Parser/.idea
binbi/Binbi.Parser/Binbi.Parser.DB/bin
binbi/Binbi.Parser/Binbi.Parser.DB/obj
binbi/Binbi.Parser/Binbi.Parser.Common/bin
binbi/Binbi.Parser/Binbi.Parser.Common/obj