
{% extends "base.html" %}
{% load static %}
{% block title %} Binbi {% endblock %}

{% block content %}
    <section class="form">

        <div class="content-popup">

                <div class="form">
                {% if form.errors %}
                <p class="error-login">
                    Ваше имя пользователя и пароль не совпали.
                    Пожалуйста повторите попытку
                </p>
                {% else %}
                <p class="text">
                    Введите данные для входа в систему или
                    зарегистрируйтесь
                </p>
                {% endif %}
                    <form class="form-field" action="{% url 'login' %}" method="post"> <!--Перенаправление на страницу входа -->
                       <div class="field-content">
                            {{ form.as_p }}
                            {% csrf_token %}
                           <div class="link-popup">
                                <a class="text-link" href="#">Забыли пароль?</a>
                            </div>
                           <div class="link-popup-bottom">
                            <a class="text-link" href="#">У вас еще нет аккаунта? Регистрация</a>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}"> <!-- Скрытый параметр входа-->
                            <p class="button-field" ><input class="button-field" type="submit" value="Войти"></p>
                       </div>
                    </form>

                </div>
            </div>
    </section>
{% endblock %}


