{% extends 'base.html' %}
{% load static %}

{% block title %} Пароль сброшен {% endblock %}


{% block content %}

    <div id="particles-js"></div>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/stats.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/particl_config.js' %}"></script>


    <section class="forms-registration">
        <h1 class="title">Пароль установлен</h1>
        <p class="text text-action">Ваш пароль был изменён
            Вы можете <a href="{% url 'login' %}">войти в акаунт заново</a>
        </p>
    </section>

{% endblock %}