{% extends 'base.html' %}
{% load static %}

{% block title %} Сброс Вашего пароля {% endblock %}

{% block content %}
    <div id="particles-js"></div>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/stats.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/particl_config.js' %}"></script>

    <section class="forms-registration form-res-pas">
        <h1 class="title">Сброс Вашего пароля</h1>
        <p class="text">Введите свой адрес электронной почты,
        чтобы получить новый пароль
        </p>
        <div class="form">

            <form class="form-field" method="post">
                {{ form.as_p }}
                <p class="button_login">
                    <input class="field_button" type="submit" value="Отправить email">
                </p>
                {% csrf_token %}
            </form>
        </div>
    </section>

{% endblock %}